@{
    ViewData["Title"] = "Qunar lý gói tập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row d-flex">
                    <h4 class="card-title">Điều kiện tìm kiếm</h4>
                    <div class="form-group">
                        <button type="button" class="default-btn main-btn"
                                onclick="location.href = '/goi-tap/them-moi'">
                            <img src="/css/image/Plus_32px.png" /> Thêm
                            mới
                        </button>
                        <button type="button" class="default-btn main-btn" onclick="Search();">
                            <img src="/css/image/search_32px.png" />
                        </button>
                    </div>
                </div>
                <div class="box-search">
                    <div class="item-search">
                        <label for="exampleInputUsername1">Tên gói: </label>
                        <input type="text" id="searchName" placeholder="-- Tên gói --">
                    </div>
                </div>
                @* <div class="row">
                    <div class="col-md-3 form-group">
                        <label for="exampleInputUsername1">Tên gói</label>
                        <input type="text" class="form-control" id="searchName" placeholder="Tên gói">
                    </div>
                    <div class="col-md-6 form-group">
                    </div>
                    <div class="col-md-3 form-group">
                        <button type="button" class="btn btn-success btn-icon-text" onclick="Search();"><i class="mdi mdi-magnify"></i> Tìm kiếm</button>
                        <button type="button" class="btn btn-success btn-icon-text" onclick="location.href = '/goi-tap/them-moi'"><i class="mdi mdi-magnify"></i> Thêm</button>
                    </div>
                </div> *@
            </div>
        </div>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body" id="tblMember">
                @Html.Partial("_Partial_List_Packge.cshtml")
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="e1_14">
            <div class="e1_15">
                <span class="e1_16">Cảnh báo</span>
                <div class="e1_17"></div>
            </div>
            <span class="close" onclick="HideModal()">&times;</span>
        </div>
        <div class="pb-text">
            <span class="e1_18">Bạn có chắc chắn muốn xóa thông tin gói tập này?</span>

        </div>

        <div class="button-container">
            <button type="button" class="btn btn-primary confirm-btn " onclick="deleteMember()">Đồng ý</button>
            <div class="temp">
                <input type="hidden" id="tmpId" />
            </div>
            <button type="button" class="btn btn-secondary cancel-btn" onclick="HideModal()">Hủy</button>

        </div>
    </div>
</div>

<script>
    function onChange_Record_on_page() {
        Search(1);
    }

    function Search()
    {
        keySearch = $('#searchName').val().trim();
        $.ajax({
            type: "get",
            url: "/goi-tap/tim-kiem",
            data:{
                name: keySearch
            },
            beforeSend: function () {
                      SpinLoading(true);
            },
            success: function (data) {
                if (data != null) {
                    $("#tblMember").html(data);
                }
            },
            error: function (data) {
                console.log(data);
            },
            complete: function () {
                           SpinLoading(false);
            }
        });
    }

    function ShowDelete(id) {
        $("#myModal").show();

        $('#tmpId').val(id);
    }

    function HideModal() {
        $("#myModal").hide();
    }

    function Delete_Data() {
        $.ajax({
            type: "POST",
            url: "/goi-tap/xoa",
            data: {
                id: $('#tmpId').val()
            },
            beforeSend: function () {
                SpinLoading(true);
            },
            success: function (data) {
                if (data != null && data.success > 0) {
                    ShowSuccess(data.message);

                    setTimeout(() => {
                        $("#myModal").hide();

                        Search(1);
                    }, 1000);
                } else {
                    SpinLoading(false);
                    alert(data.message);
                }
            },
            error: function (data) {
                console.log(data);
            },
            complete: function () {
                SpinLoading(false);
            }
        });
    }
</script>