@{
    
}

<nav class="navbar navbar-expand-lg navbar-light vertical-menu col-2 d-block">
    <div class="container-fluid flex-column p-0">
        <a class="navbar-brand py-4" href="#">
            <img src="/css/image/logo.png" class="img-menu" />
        </a>

        <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
            <ul class="navbar-nav flex-column w-100">
                <li class="nav-item d-flex " id="home">
                    <a class="nav-link active text-light w-100 py-3 px-5" aria-current="page" href="/">
                        <i class="fa-solid fa-house text-light pe-2 fs-5"></i>Trang chủ
                    </a>
                </li>
                <li class="nav-item d-flex " id="memberCard">
                    <a class="nav-link active text-light w-100 py-3 px-5" aria-current="page" href="/khach-hang/danh-sach">
                        <i class="fa-solid fa-user text-light pe-2 pe-2 fs-5"></i>Khách hàng
                    </a>
                </li>
                <li class="nav-item d-flex ">
                    <a class="nav-link active text-light w-100 py-3 px-5" aria-current="page" href="#">
                        <i class="fa-solid fa-book text-light pe-2 fs-5"></i>Gói tập
                    </a>
                </li>

                <li class="nav-item d-flex ">
                    <a class="nav-link active text-light w-100 py-3 px-5" aria-current="page" href="#">
                        <i class="fa-sharp fa-solid fa-people-group text-light pe-2 fs-5"></i>Nhân sự
                    </a>
                </li>
                <li class="nav-item d-flex ">
                    <a class="nav-link active text-light w-100 py-3 px-5" aria-current="page" href="#">
                        <i class="fa-solid fa-bag-shopping text-light pe-2 fs-5"></i>Bán hàng
                    </a>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle text-light w-100 py-3 px-5" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="true">
                        <i class="fa-solid fa-chart-simple text-light pe-1 fs-5"></i>
                        Thống kê
                    </a>
                    <ul class="dropdown-menu dropdown-choose bg-transparent py-2 border-0 w-100"
                        aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item dropdown-menu-vertical text-light d-flex justify-content-end pe-5 bg-transparent"
                               href="/tra-cuu-hoa-don/danh-sach" id="statisticInvoice">Tra cứu hóa đơn</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
