@using ObjectInfo
@{
    ViewData["Title"] = "Thêm mới mã giảm giá";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<TypeMemberInfo> _lstTypeMember = ViewBag.LstTypeMember != null ? ViewBag.LstTypeMember : new TypeMemberInfo();
}

<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<div class="row">
    <form id="formVoucherAdd">
        <div class="card">
            <div class="card-body">
                <div class="group">
                    <div class="title-group">
                        <h4 class="card-title ">Thông tin cá nhân</h4>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Voucher<span class="clr-red">(*)</span>:</div>
                                        <div class="field-report">
                                            <input name="Code" type="text" id="txtVoucherCode" placeholder="" oninput="this.value = this.value.toUpperCase()">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Loại giảm giá<span class="clr-red">(*)</span>:</div>
                                        <div class="field-report">
                                            <select name="VoucherType" class="form-control" id="cboVoucherType">
                                                <option value="0">Phần trăm</option>
                                                <option value="1">Trừ tiền</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Mức giảm<span class="clr-red">(*)</span>:</div>
                                        <div class="field-report">
                                            <input name="Discount" type="number" id="txtDiscount" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Ngày bắt đầu<span class="clr-red">(*)</span>:</div>
                                        <div class="field-report">
                                            <input name="OpenTime" type="datetime-local" id="dpOpenDay" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Ngày kết thúc<span class="clr-red">(*)</span>:</div>
                                        <div class="field-report">
                                            <input name="CloseTime" type="datetime-local" id="dpCloseDay" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Loại khách hàng áp dụng<span class="clr-red">(*)</span>:</div>
                                        <div class="field-report">
                                            <select name="ForMemberType" class="form-control" id="cboTypeMember">
                                                @foreach (var item in _lstTypeMember)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Số tiền tối thiểu của hóa đơn:</div>
                                        <div class="field-report">
                                            <input name="MinTotalBill" type="number" id="txtMinTotal" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Số lượng<span class="clr-red">(*)</span>:</div>
                                        <div class="field-report">
                                            <input name="Count" type="number" id="txtVoucherCount" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Mô tả<span class="clr-red">(*)</span>:</div>
                                        <div class="field-report">
                                            <textarea name="Description" id="txtDescription" rows="3" style="height: 68px !important;"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="flex-report">
                                        <div class="title-report">Ghi chú:</div>
                                        <div class="field-report">
                                            <input name="Note" type="text" id="txtNote" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-form">
                            <button type="submit" class="btn btn-success px-5"><i class="bx bx-home mr-1"></i>Thêm mới</button>
                            <button type="button" class="btn btn-danger px-5 ml-1" onclick="history.back();"><i class="bx bx-bookmark mr-1"></i>Thoát</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

<script>
    //submit
    $('#formVoucherAdd').on('submit', function (e) {
        try {
            e = window.event || e;
            e.preventDefault();

            if (Validate()) {
                $.ajax({
                    type: 'POST',
                    enctype: "multipart/form-data",
                    url: '/ma-giam-gia/them-moi',
                    data: new FormData(this),
                    beforeSend: function () {
                        SpinLoading(true);
                    },
                    contentType: false, processData: false,
                    success: function (data) {
                        if (data != null) {
                            if (data.success > 0) {
                                ShowSuccess(data.message);
                                setTimeout(() => {
                                    window.location.href = "/ma-giam-gia/danh-sach";
                                }, 1000);
                            } else {
                                SpinLoading(false);
                                ShowError(data.message);
                            }
                        }
                    },
                    error: function (data) {
                        console.log(data);
                    },
                    complete: function () {
                        SpinLoading(false);
                    }
                });
            }
        } catch (ex) {
            console.log(ex);
        }
    });

    function Validate() {
        if (!$("#txtVoucherCode").val().trim()) {
            ShowError("Mã giảm giá không được để trống!");
            return false;
        }
        if (containsSpecialChars($("#txtVoucherCode").val().trim())) {
            ShowError("Mã giảm giá không được chứa ký tự đặc biệt!");
            return false;
        }
        if (containsUnicode($("#txtVoucherCode").val().trim())) {
            ShowError("Mã giảm giá chứa dấu tiếng việt!");
            return false;
        }
        if (!$("#cboVoucherType").val().trim()) {
            ShowError("Loại giảm giá không được để trống!");
            return false;
        }
        if (!$("#txtDiscount").val().trim()) {
            ShowError("Mức giảm không được để trống");
            return false;
        }
        if (parseInt($("#txtDiscount").val().trim()) < 0) {
            ShowError("Mức giảm phải lớn hơn 0");
            return false;
        }
        if (!$("#dpOpenDay").val().trim()) {
            ShowError("Ngày giờ bắt đầu không được để trống");
            return false;
        }
        if (!$("#dpCloseDay").val().trim()) {
            ShowError("Ngày giờ kết thúc không được để trống");
            return false;
        }
        if (!$("#cboTypeMember").val().trim()) {
            ShowError("Loại khách hàng áp dụng không được để trống");
            return false;
        }
        if ($("#txtMinTotal").val().trim()) {
            if (parseInt($("#txtMinTotal").val().trim()) < 0) {
                ShowError("Số tiền tối thiểu của hóa đơn phải lớn hơn 0");
                return false;
            }
        }
        if (!$("#txtVoucherCount").val()) {
            ShowError("Số lượng không được để trống");
            return false;
        }
        if (parseInt($("#txtVoucherCount").val().trim()) < 0) {
            ShowError("Số lượng phải lớn hơn 0");
            return false;
        }
        if (!$("#txtDescription").val().trim()) {
            ShowError("Mô tả không được để trống");
            return false;
        }

        return true;
    }

    function containsSpecialChars(str) {
        const specialChars = /[`!@@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;
        return specialChars.test(str);
    }

    function containsUnicode(str) {
        const rg = /^[\x20-\x7E]*$/;
        return !rg.test(str);
    }
</script>